@charset "uft-8";


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

  body{  font-family: 'Pretendard-Regular';}

  .container{width: 100%;}
  .container .cont.visual{width: 100%;}

  /* 메인비쥬얼 슬라이드 */
  .cont.visual{position: relative; width: 100%;}

  .fade01 .swiper-container {width: 100%; height: 100%; }
  .fade01 .swiper-slide { background-position: center; background-size: cover; }
  .fade01 .swiper-slide img { display: block; width: 100%; }

  .logo{position:absolute; left: 25.5rem; top: 9.4rem; z-index: 1000;}
  .logo img{width: 12.5rem;}
  .textBox{position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 100%; z-index: 1000;}
  .textBox .textCont{width: 100%;}
  .textBox .textCont .mainTitImage{margin: 0 auto; width: 82.2rem; height: 10.8rem; background: url(./../images/240115_txt_TIMETOREFRESH_web.png) no-repeat center;  }
  .textBox .textCont .mainTxt{width: 100%; text-align: center; font-size: 3rem; color: #fff; line-height: 1.5; margin-top: 3rem; letter-spacing: -0.1rem;}

  /* 쿠폰영역 */
  .cont.couponArea{margin-top: 6rem; width: 100%; text-align: center;}
  .cont.couponArea p.couponHead{width: 100%; font-size: 4rem; font-weight: 500; }
  .cont.couponArea p.couponText{margin-top: 2rem; width: 100%;  font-size: 2.2rem; font-weight: 400; }
  .cont.couponArea p.couponDate{margin-top: 2rem; width: 100%; font-size: 2.2rem; font-weight: 650; }
  .cont.couponArea .couponDown{margin-top: 6rem; width: 100%;}
  .cont.couponArea .couponDown .couponImg{margin: 0 auto; width: 45rem; height: 23rem; color: #fff; text-align: left; background: url(./../images/240115_coupon_bg.png) no-repeat center; background-size: cover; }
  .cont.couponArea .couponDown .couponImg p.couponName{padding: 3rem 0 0 5rem; font-size: 2rem; box-sizing:border-box;}
  .cont.couponArea .couponDown .couponImg span.couponType{display: block; padding-left: 50px; font-size: 1.6rem; box-sizing:border-box;}
  .cont.couponArea .couponDown .couponImg strong.percent{display: block; margin-top: 3rem; padding-right: 4rem; width: 100%; font-size: 7rem; text-align: right; box-sizing: border-box;}
  .cont.couponArea .couponDown .couponImg strong em{margin-left: 0.6rem; font-style: normal; font-size: 5rem;}
  .cont.couponArea .couponDown button.cpDownBtn{margin-top: 1.2rem; margin-bottom: 3rem; width: 45rem; color: #111; font-weight: 500; line-height: 5.4rem; border: 1px solid #111; background: #fff; }
  /* 쿠폰유의사항 */
  .cont.couponArea .couponNotice{width: 45rem; margin: 0 auto; padding: 0 2rem; background: #f4f4f4; text-align: left; box-sizing: border-box;}
  .cont.couponArea .couponNotice .noticeTop{width: 100%; line-height: 5.4rem;  background: url(./../images/arrow_down.svg)no-repeat right; background-size: 0.8rem; cursor: pointer;}
  .cont.couponArea .couponNotice.on .noticeTop{background: url(./../images/arrow_up.svg) no-repeat right; background-size: 0.8rem; }
  .cont.couponArea .couponNotice.on .noticeCont{display: block;} 
  .cont.couponArea .couponNotice .noticeTop span{position: relative; display: block; width: 100%; padding-left: 1.8rem; font-size: 1.6rem; color: #666; line-height: 5.4rem; background: url(./../images/notice_icon.svg) no-repeat left; background-size: 1.2rem;}
  .cont.couponArea .couponNotice .noticeCont{display: none; padding: 1.3rem 0 2.4rem; width: 100%; border-top: 1px solid #ddd;}
  .cont.couponArea .couponNotice .noticeCont span{display: block; font-size: 1.6rem; line-height: 1.6; color: #666; letter-spacing: -0.6px;} 


  /* 뉴시즌 배너영역 */
  .cont.newSeasonBnr{display: flex; margin-top: 5.7rem; width: 100%; height: 10rem;  text-align: center; background: #222; }
  .cont.newSeasonBnr p.bannerText{margin: auto; font-size: 3.4rem; font-weight: 700; color: #fff; letter-spacing: 2px;}


  /* 해쉬태그 1,2,3 영역 공통 */
  .cont.tagArea{margin-top: 10rem; padding: 10rem 0; display: flex; width: 100%; flex-flow: row nowrap; justify-content: center; box-sizing: border-box;}
  .cont.tagArea .fadeAction{ margin-right: 10rem; width: 603px;}
  .cont.tagArea .hashtagArea{width: 71rem;}
  .cont.tagArea .hashtagArea .tagBox{width: 100%; text-align: center;}
  .cont.tagArea .hashtagArea .tagBox span.hashtag{display: block; margin-top: 5rem; width: 100%; font-size: 2.6rem; font-weight: 600; }
  .cont.tagArea .hashtagArea .tagBox strong.linkTitle{display: block; margin-top: 0.5rem; width: 100%; font-size: 3.8rem; color: #6d8ec3; font-weight: 600; }
  .cont.tagArea .hashtagArea .tagBox p.titleTxt{display: block; margin-top: 2.8rem; width: 100%; font-size: 2.2rem; color: #111; line-height: 1.6; font-weight: 400; }
  .cont.tagArea .hashtagArea .shopLinkBox{display: flex; margin-top: 9.8rem; gap: 1rem; width: 100%;text-align: center;}
  .cont.tagArea .hashtagArea .shopLinkBox span.linkText{display: inline-block; padding-right: 3.7rem; margin: 3rem auto 0; font-size: 2rem; font-weight: 500; box-sizing: border-box; background: url(./../images/ico_lnk_arr.svg) no-repeat 99% 50% / 2.6rem; }
  /* 해쉬태그 1,2,3 영역 개별 */
  .cont.colorPalette{background: #f4f4f4;}
  .cont.colorPalette .hashtagArea .tagBox strong.linkTitle{color: #F374C0;}
  .cont.colorPalette .fadeAction{ margin-right: 0; margin-left: 10rem;}
  .cont.pairYourJeans .hashtagArea .tagBox strong.linkTitle{color: #2A518C;}